<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
      <style>
            .table-container {
                display: inline-block;
                width: 1200px;
                justify-content: center;
                margin-left: 130px;
                margin-top: 25px;
            }
            .table {
                display: block;
                width: 1000px;
                margin: 0 auto;
                justify-content: center;
            }
        </style>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>Специалист по ИБ</title>
  </head>
  <body class="page">
  {% include 'includes/themes.html' %}
  <main class="main-content">
      <div class="main-head">
        <h1>География</h1>
      </div>
      {% for d in geography %}
      <div id="one">
            <h2 class="demand-header">{{d.title}}</h2>

            <img class="demand-image" src="{{d.image.url}}" width="1100px">
          <div class="table-container">
              <table class="table">
                  {{d.display_text_file | safe}}
              </table>
          </div>
      </div>
      {% endfor %}

  </main>
      {% include 'includes/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>