<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Специалист по ИБ</title>
  </head>
  <body class="page">
    <header class="page-header">
      <div class="services">
        <div class="services-content">
          <p>Специалист по информационной безопасности</p>
          <section class="find-buttons">
          <p class="caption">Тема</p>
          <ul class="theme-switcher">
            <li>
              <button class="theme-button-dark" type="button"></button>
            </li>
            <li>
              <button class="theme-button-light active" type="button"></button>
            </li>
          </ul>
          <p class="caption">Шрифт</p>
          <ul class="fonts">
            <li>
              <button class="font-button-sans-serif active" type="button">А</button>
            </li>
            <li>
              <button class="font-button-serif" type="button">А</button>
            </li>
          </ul>
        </section>
        </div>
      </div>  
      <nav class="main-nav">
        <ul class="site-navigation">
          <li class="site-navigation-item">
            <a href="#">Главная</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">Востребованность</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">География</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">Навыки</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">Последние вакансии</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <section class="hero">
        <h1>Специалист по информационной безопасности</h1>
      </section>
      <article class="blog-article blog-article-1 ">
        <div class="blog-article-content">
          <h2>Кто такой специалист по ИБ</h2>
          <p class="blog-article-description">Специалист по информационной безопасности — не самая простая, зато востребованная ИТ-профессия. Она пугает множеством терминов и своеобразных инструментов, хотя на деле доступна людям без технического бэкграунда. Изучив ИБ, вы будете работать с государственными корпорациями, банками, средним и крупным бизнесом, облачными сервисами и стартапами. Проще говоря, везде, где есть вероятность взлома.</p>
        </div>
        <div>
          <img class="blog-article-img" src="{% static 'img/specialist_info1.jpg' %}" alt="ИБ">
        </div>
      </article>
      <article class="blog-article blog-article-2 short">
        <div class="blog-article-content">
          <h2>Обязанности специалиста по ИБ</h2>
          <p class="blog-article-description">Обязанности специалиста по информационной безопасности могут различаться в зависимости от его роли в команде и от компании, в которой он работает. Вот чем чаще всего занимаются «безопасники»:<br>
            <b>Безопасность средств криптографической защиты</b><br>
            Средства криптографической защиты — это системы, которые с помощью алгоритмов криптографического преобразования зашифровывают информацию и передают её по каналам связи. К СКЗИ относится электронная подпись. Специалист по СКЗИ должен, например:<br>
            исследовать криптографические средства защиты информации и контролировать их использование в компании;<br>
            обучать сотрудников, как пользоваться СКЗИ;<br>
            расследовать нарушения в использовании таких средств.<br>
            В Ростелекоме есть отдельная вакансия для специалиста по средствам криптографической защиты информации<br>
            <b>Категорирование информации</b><br>
            Сотрудник службы ИБ следит за порядком категорирования информации. Например, получает образец данных и решает, являются ли они персональными или нет.<br>
            <b>Охрана коммерческой тайны</b><br>
            В этом случае обязанность сотрудника службы ИБ — сделать так, чтобы в компании не было утечек конфиденциальной информации. Неважно какой: о ценах, о пользователях или сотрудниках, о товарах, о соглашениях NDA (Non-disclosure agreement — соглашение о неразглашении). Если это коммерческая тайна, специалист должен её охранять.<br>
            <b>Консалтинг</b><br>
            Сотрудника службы ИБ, занимающегося консалтингом, ещё называют Security Business Partner. Это человек, который помогает руководителю правильно выстроить процессы во всех направлениях информационной безопасности: охране коммерческой тайны, составлении документов со статусом NDA, архитектуре и защите систем, категорировании данных.<br>
            Судя по этой вакансии, специалист по ИБ должен следить за охраной персональных данных и неразглашением коммерческой тайны компании<br>
            <b>Противодействие техническим средствам разведки</b><br>
            Специалисты следят за тем, чтобы в компании нелегально не использовалась фото- и видеофиксация. Чтобы в помещениях, которые сертифицированы под защиту информации, не велась прослушка. В то же время сотрудников могут привлекать и для установки такого оборудования.<br>
            <b>Проектирование безопасного ПО</b><br>
            Сотрудники службы информационной безопасности проектируют архитектуру программного обеспечения, устойчивого к хакерским атакам.<br>
            Специалиста службы информационной безопасности, который атакует систему ради поиска слабых мест, называют пентестером (от англ. Penetration testing — «тестирование на проникновение»). Это этичный хакер — организуя кибератаку на IT-инфраструктуру, он одновременно выявляет её уязвимости и рекомендует, как их устранить.
          </p>
          <button class="more" type="button">Читать дальше</button>
        </div>
        <div>
          <img class="blog-article-img" src="{% static 'img/specialist_info2.jpg' %}" alt="ИБ">
        </div>
        </article>
        <article class="blog-article blog-article-1 ">
        <div class="blog-article-content">
          <h2>Необходимые знания и навыки</h2>
        <p class="blog-article-description">
          Специалист по информационной безопасности часто работает на стыке анализа данных, разработки, юридической практики и консалтинга. В зависимости от зоны ответственности он должен обладать определёнными знаниями и навыками:

          1.	Знать сетевые технологии в области обеспечения безопасности сетей, технологии контейнеризации. Контейнер — это среда, в которой можно изолированно запускать код независимо от основной системы и программного обеспечения. Для работы с контейнерами часто используют платформу Docker.

          2.	Понимать, как строятся механизмы информационной безопасности операционных систем — Windows, MacOS, Linux, iOS, Android.

          3.	Знать законы: например «Об информации, информационных технологиях и о защите информации».

          4.	Уметь работать с системами управления базами данных.

          5.	Знать языки программирования, например Java или Python.

          Иван Авраменко

          На начальном этапе знание языков программирования не обязательно, но со временем придётся понять, как они устроены. Тот же Java особенно важен, если человек захочет продолжить карьеру как AppSec-инженер, тестирующий безопасность приложений.
          6.	Владеть английским, чтобы читать техническую документацию.

          7.	Уметь выходить за рамки. Важно, чтобы человек умел мыслить нестандартно. Это особенно поможет при поиске уязвимостей системы, когда нужно встать на место хакера.

          8.	Уметь каталогизировать информацию.

          Чем больше информации специалист соберёт, тем лучше. От этого зависит и поверхность будущей атаки. Например, сотрудник собрал все IP-адреса. Затем выяснил, какие действительны, а какие нет. Просканировал и проверил порты, узнал, какие службы на них доступны. А потом вдруг нашёл уязвимость в серверном оборудовании компании и понял, что одним нажатием может взломать сразу сто хостов. Всё благодаря тому, что потратил время на сбор этих хостов и каталогизирование.
          Плюсы и минусы работы в области информационной безопасности
          У специалиста по информационной безопасности широкий круг задач, поэтому ему есть куда развиваться. Это — один из плюсов профессии. Часто он работает с документацией или составляет отчёты — для кого-то такая рутина это минус. Правда, его можно компенсировать высокой зарплатой. Судя по вакансиям на hh.ru, сотрудники службы информационной безопасности получают от 100 000 ₽ в месяц.
        </p>
        </div>
        <div>
          <img class="blog-article-img" src="{% static 'img/specialist_info3.jpg' %}" alt="ИБ">
        </div>
      </article>
      <article class="blog-article blog-article-2 short">
        <div class="blog-article-content">
          <h2>Плюсы и минусы</h2>
          <p class="blog-article-description">У специалиста по информационной безопасности широкий круг задач, поэтому ему есть куда развиваться. Это — один из плюсов профессии. Часто он работает с документацией или составляет отчёты — для кого-то такая рутина это минус. Правда, его можно компенсировать высокой зарплатой. Судя по вакансиям на hh.ru, сотрудники службы информационной безопасности получают от 100 000 ₽ в месяц.

<br><b>✅ Преимущества</b><br>

Высокая заработная плата. Во втором квартале 2023 года специалисты в сфере ИБ получали в среднем 120 000 ₽ — данные Хабр.Карьеры.
Удалённая работа. Специалистам по ИБ не обязательно присутствовать в офисе, чтобы тестировать систему и устранять уязвимости.

Постоянное обучение. Хакеры совершенствуют свои техники, и пентестер должен о них знать. Кроме того, появляются новые системы, технологии, безопасность которых нужно тестировать.
            <br><b>❌ Недостатки</b></br>

Монотонная работа. Иногда приходится выполнять одну и ту же последовательность действий, надеясь на лучший результат. Часто нужно описывать регламенты или политику безопасности.
Давление со стороны руководства. Иногда бизнесу важнее заработать деньги, чем обеспечить безопасность пользователя. Поэтому специалисту по ИБ нужно доказать руководителю, что за одним маленьким упущением может последовать большая ответственность.
          </p>
          <button class="more" type="button">Читать дальше</button>
        </div>
        <div>
          <img class="blog-article-img" src="{% static 'img/specialist_info4.jpg' %}" alt="ИБ">
        </div>
        </article>
    </main>
    <footer class="main-footer">
      <div class="footer-container">
        <div class="footer-column">
          <p class="copyright">Технологии программирования</p>
          <p class="copyright">Онищенко Андрей Андреевич</p>
          <p class="copyright">РИ-220949</p>
          <p class="copyright">©2024 Все права защищены</p>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
