<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>Специалист по ИБ</title>
  </head>
  <body class="page">
  {% include 'includes/themes.html' %}

      <section class="hero">
        <h1>Последние вакансии</h1>
      </section>
    <ul>
        {% for vacancy in last_vacancies %}
        <li>
            <h2>{{ vacancy.title }}</h2>
            <p>{{ vacancy.description }}</p>
            <p>{{ vacancy.skills }}</p>
            <p>{{ vacancy.company }}</p>
            <p>{{ vacancy.salary}}</p>
            <p>{{ vacancy.area_name }}</p>
            <p>{{ vacancy.published_at }}</p>
        </li>
        {% endfor %}
    </ul>
      {% include 'includes/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>