<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/table-styles.css'%}" rel="stylesheet">
    <title>Специалист по информационной безопасности</title>
  </head>
  <body class="page">
     {% include 'includes/themes.html' %}
    <main class="main-content">
      <div class="main-head">
        <h1>ТОП-20 навыков по годам</h1>
      </div>
      <section class="hero">
        {% for d in skills %}
          <div class="skills-container">
            <div class="biba">
              <h1>{{ d.title }}</h1>
            </div>
            <div class="graph">
                <img class="demand-image" src="{{d.image.url}}" width="1100px">
            </div>
            <div class="table">
              {{d.display_text_file | safe}}
            </div>
          </div>
        {% endfor %}
      </section>
    </main>
      {% include 'includes/footer.html' %}
  <script src="{% static 'js/script.js'%}"></script>
</body>
</html>