/* Стили для html элемента */
html {
    height: 100%;  /* Занимает 100% высоты окна */
}

/* Стили для body элемента */
body {
    margin-top: 55px;  /* Внешний отступ сверху */
    padding: 0;  /* Убирает внутренний отступ */
    font-family: sans-serif;  /* Устанавливает шрифт для текста */
    background: linear-gradient(#141e30, #243b55);  /* Градиентный фон */
}

/* Стили для блока с формой входа */
.login-box {
    margin-top: 40px;  /* Внешний отступ сверху */
    position: absolute;  /* Абсолютное позиционирование */
    top: 50%;  /* Положение по вертикали в центре */
    left: 50%;  /* Положение по горизонтали в центре */
    width: 400px;  /* Ширина блока */
    padding: 40px;  /* Внутренний отступ по всем сторонам */
    transform: translate(-50%, -50%);  /* Центрирование блока относительно самого себя */
    background: rgba(0, 0, 0, 0.5);  /* Полупрозрачный фон */
    box-sizing: border-box;  /* Размеры блока включают границы и внутренние отступы */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);  /* Тень блока */
    border-radius: 10px;  /* Устанавливает радиус скругления углов */
}

/* Стили для заголовка h2 внутри блока с формой входа */
.login-box h2 {
    margin: 0 0 30px;  /* Внешний отступ снизу */
    padding: 0;  /* Убирает внутренний отступ */
    color: #fff;  /* Цвет текста */
    text-align: center;  /* Выравнивание текста по центру */
}

/* Стили для контейнера с полем ввода и меткой пользователя */
.login-box .user-box {
    position: relative;  /* Относительное позиционирование */
}

/* Стили для поля ввода внутри контейнера пользователя */
.login-box .user-box input {
    width: 100%;  /* Занимает 100% ширины контейнера */
    padding: 10px 0;  /* Внутренний отступ по вертикали */
    font-size: 16px;  /* Размер шрифта */
    color: #fff;  /* Цвет текста */
    margin-bottom: 40px;  /* Внешний отступ снизу */
    border: none;  /* Убирает границы поля ввода */
    border-bottom: 1px solid #fff;  /* Граница снизу белого цвета */
    outline: none;  /* Убирает рамку при фокусе */
    background: transparent;  /* Прозрачный фон */
}

/* Стили для метки пользователя внутри контейнера пользователя */
.login-box .user-box label {
    position: absolute;  /* Абсолютное позиционирование */
    top: 0;  /* Положение сверху */
    left: 0;  /* Положение слева */
    padding: 10px 0;  /* Внутренний отступ по вертикали */
    font-size: 16px;  /* Размер шрифта */
    color: #fff;  /* Цвет текста */
    pointer-events: none;  /* Запрет взаимодействия с элементом */
    transition: 0.5s;  /* Плавный переход */
}

/* Анимация для метки пользователя при фокусе или наличии значения в поле ввода */
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -30px;  /* Положение сверху с отступом */
    left: 0;  /* Положение слева */
    color: #03e9f4;  /* Цвет текста при фокусе или наличии значения */
    font-size: 12px;  /* Уменьшенный размер шрифта */
}

/* Стили для ссылки внутри формы входа */
.login-box form a {
    position: relative;  /* Относительное позиционирование */
    display: inline-block;  /* Отображение как блочный элемент с возможностью настройки размеров */
    padding: 10px 20px;  /* Внутренний отступ по вертикали и горизонтали */
    color: #03e9f4;  /* Цвет текста */
    font-size: 16px;  /* Размер шрифта */
    text-decoration: none;  /* Убирает подчеркивание текста */
    text-transform: uppercase;  /* Преобразует текст в верхний регистр */
    overflow: hidden;  /* Скрытие содержимого, выходящего за границы блока */
    transition: 0.5s;  /* Плавный переход */
    margin-top: 40px;  /* Внешний отступ сверху */
    letter-spacing: 4px;  /* Расстояние между буквами */
}

/* Стили для ссылки при наведении */
.login-box a:hover {
    background: #03e9f4;  /* Фон при наведении */
    color: #fff;  /* Цвет текста при наведении */
    border-radius: 5px;  /* Устанавливает радиус скругления углов */
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;  /* Тень при наведении */
}

/* Стили для анимации для span элементов внутри ссылки */
.login-box a span {
    position: absolute;  /* Абсолютное позиционирование */
    display: block;  /* Отображение как блочный элемент */
}

/* Анимация для первого span элемента */
.login-box a span:nth-child(1) {
    top: 0;  /* Положение сверху */
    left: -100%;  /* Положение слева с выходом за пределы блока */
    width: 100%;  /* Ширина блока */
    height: 2px;  /* Высота блока */
    background: linear-gradient(90deg, transparent, #03e9f4);  /* Градиентный фон */
    animation: btn-anim1 1s linear infinite;  /* Анимация */
}

/* Ключевые кадры для анимации первого span элемента */
@keyframes btn-anim1 {
    0% {
        left: -100%;  /* Положение слева с выходом за пределы блока */
    }
    50%, 100% {
        left: 100%;  /* Положение справа с выходом за пределы блока */
    }
}

/* Анимация для второго span элемента */
.login-box a span:nth-child(2) {
    top: -100%;  /* Положение сверху с выходом за пределы блока */
    right: 0;  /* Положение справа */
    width: 2px;  /* Ширина блока */
    height: 100%;  /* Высота блока */
    background: linear-gradient(180deg, transparent, #03e9f4);  /* Градиентный фон */
    animation: btn-anim2 1s linear infinite;  /* Анимация */
    animation-delay: 0.25s;  /* Задержка анимации */
}

/* Ключевые кадры для анимации второго span элемента */
@keyframes btn-anim2 {
    0% {
        top: -100%;  /* Положение сверху с выходом за пределы блока */
    }
    50%, 100% {
        top: 100%;  /* Положение снизу с выходом за пределы блока */
    }
}

/* Анимация для третьего span элемента */
.login-box a span:nth-child(3) {
    bottom: 0;  /* Положение снизу */
    right: -100%;  /* Положение справа с выходом за пределы блока */
    width: 100%;  /* Ширина блока */
    height: 2px;  /* Высота блока */
    background: linear-gradient(270deg, transparent, #03e9f4);  /* Градиентный фон */
    animation: btn-anim3 1s linear infinite;  /* Анимация */
    animation-delay: 0.5s;  /* Задержка анимации */
}

/* Ключевые кадры для анимации третьего span элемента */
@keyframes btn-anim3 {
    0% {
        right: -100%;  /* Положение справа с выходом за пределы блока */
    }
    50%, 100% {
        right: 100%;  /* Положение слева с выходом за пределы блока */
    }
}

/* Анимация для четвертого span элемента */
.login-box a span:nth-child(4) {
    bottom: -100%;  /* Положение снизу с выходом за пределы блока */
    left: 0;  /* Положение слева */
    width: 2px;  /* Ширина блока */
    height: 100%;  /* Высота блока */
    background: linear-gradient(360deg, transparent, #03e9f4);  /* Градиентный фон */
    animation: btn-anim4 1s linear infinite;  /* Анимация */
    animation-delay: 0.75s;  /* Задержка анимации */
}

/* Ключевые кадры для анимации четвертого span элемента */
@keyframes btn-anim4 {
    0% {
        bottom: -100%;  /* Положение снизу с выходом за пределы блока */
    }
    50%, 100% {
        bottom: 100%;  /* Положение сверху с выходом за пределы блока */
    }
}

/* Стили для обертки select элемента */
.groups {
    position: relative;  /* Относительное позиционирование */
    border-bottom: 1px solid #fff;  /* Граница снизу белого цвета */
    margin-bottom: 15px;  /* Внешний отступ снизу */
}

/* Стили для select элемента внутри обертки */
.groups select {
    width: 100%;  /* Занимает 100% ширины контейнера */
    padding: 10px 0;  /* Внутренний отступ по вертикали */
    font-size: 16px;  /* Размер шрифта */
    color: #fff;  /* Цвет текста */
    margin-left: 200px;  /* Внешний отступ слева */
    border: none;  /* Убирает границы поля ввода */
    outline: none;  /* Убирает рамку при фокусе */
    background: transparent;  /* Прозрачный фон */
    -webkit-appearance: none;  /* Убирает стандартный стиль веб-кит браузеров */
    -moz-appearance: none;  /* Убирает стандартный стиль браузера Firefox */
    appearance: none;  /* Убирает стандартный стиль браузеров */
    z-index: 1;  /* Отображение элемента выше остальных */
}

/* Стили для метки label внутри обертки */
.groups label {
    position: absolute;  /* Абсолютное позиционирование */
    top: 10px;  /* Положение сверху с отступом */
    left: 0;  /* Положение слева */
    padding: 10px 0;  /* Внутренний отступ по вертикали */
    font-size: 16px;  /* Размер шрифта */
    color: #fff;  /* Цвет текста */
    pointer-events: none;  /* Запрет взаимодействия с элементом */
    transition: 0.5s;  /* Плавный переход */
    text-decoration: none;  /* Убирает подчеркивание текста */
}

/* Анимация для метки при фокусе или наличии значения в select */
.groups select:focus ~ label,
.groups select:valid ~ label {
    top: -30px;  /* Положение сверху с отступом */
    left: 0;  /* Положение слева */
    color: #03e9f4;  /* Цвет текста при фокусе или наличии значения */
    font-size: 12px;  /* Уменьшенный размер шрифта */
}

/* Стили для блока .error внутри div */
div > .error {
    width: 200px;  /* Ширина блока */
    display: flex;  /* Отображение элементов внутри как блочные */
    margin: 0 0 0 200px;  /* Внешний отступ справа */
}

/* Стили для абзаца p */
p {
    margin: 0;  /* Убирает внешний отступ сверху и снизу */
    padding: 0;  /* Убирает внутренний отступ */
    font-size: 12px;  /* Размер шрифта */
    color: red;  /* Цвет текста */
}