/* Стили для html и body элементов */
html, body {
    margin: 0;  /* Убирает внешний отступ */
    padding: 0;  /* Убирает внутренний отступ */
    height: 100%;  /* Занимает 100% высоты окна */
    overflow: hidden;  /* Запрещает прокрутку содержимого */
}

/* Стили для html элемента */
html {
    background: url('../img/background.jpg') no-repeat;  /* Устанавливает фоновое изображение без повторения */
    background-size: cover;  /* Заполняет всю доступную область фоновым изображением */
    object-fit: fill;  /* Заполняет доступное пространство фонового изображения */
}

/* Стили для body элемента */
body {
    margin: 0;  /* Убирает внешний отступ */
    font-family: "Roboto", sans-serif;  /* Устанавливает шрифт для текста */
    font-size: 16px;  /* Устанавливает размер шрифта */
    line-height: 24px;  /* Устанавливает высоту строки */
    color: darkseagreen;  /* Устанавливает цвет текста */
}

/* Стили для article элемента внутри body */
body > article {
    width: 400px;  /* Ширина article элемента */
    border-radius: 25px;  /* Устанавливает радиус скругления углов */
    display: flex;  /* Устанавливает элемент как flex-контейнер */
    padding-top: 15px;  /* Внутренний отступ сверху */
    padding-bottom: 15px;  /* Внутренний отступ снизу */
    background: linear-gradient(#141e30, #243b55);  /* Градиентный фон */
    margin: 0;  /* Убирает внешний отступ */
    margin-bottom: 90px;  /* Внешний отступ снизу */
}

/* Стили для заголовка h1 внутри article элемента */
body > article > h1 {
    text-align: center;  /* Выравнивание текста по центру */
    padding-top: 15px;  /* Внутренний отступ сверху */
    padding-bottom: 15px;  /* Внутренний отступ снизу */
    background: linear-gradient(#141e30, #243b55);  /* Градиентный фон */
    margin: 0 auto;  /* Устанавливает внешний отступ по горизонтали в автоматический режим */
}

/* Стили для div элемента */
div {
    background: linear-gradient(#141e30, #243b55);  /* Градиентный фон */
    border-radius: 20px;  /* Устанавливает радиус скругления углов */
    display: flex;  /* Устанавливает элемент как flex-контейнер */
    flex-direction: column;  /* Устанавливает направление контейнера как столбец */
    width: 800px;  /* Ширина div элемента */
    margin: 0 auto;  /* Устанавливает внешний отступ по горизонтали в автоматический режим */
}

/* Стили для заголовка h1 внутри div элемента */
div > h1 {
    margin: 50px auto;  /* Устанавливает внешний отступ по вертикали в автоматический режим */
}

/* Стили для абзаца p внутри div элемента */
div > p {
    padding: 0;  /* Убирает внутренний отступ */
    margin: 10px 20px;  /* Устанавливает внешний отступ по вертикали и горизонтали */
}

/* Стили для article элемента */
article {
    margin-top: 40px;  /* Внешний отступ сверху */
    display: flex;  /* Устанавливает элемент как flex-контейнер */
    flex-direction: row;  /* Устанавливает направление контейнера как строку */
    justify-content: space-between;  /* Равномерное распределение пространства между элементами по горизонтали */
}

/* Общие стили для div и article элементов */
div, article {
    box-sizing: border-box;  /* Размеры элемента включают границы и внутренние отступы */
}

/* Обнуление стилей для before и after псевдоэлементов */
*:before, *:after {
    box-sizing: border-box;  /* Размеры элемента включают границы и внутренние отступы */
    margin: 0;  /* Убирает внешний отступ */
    padding: 0;  /* Убирает внутренний отступ */
}

/* Стили для кнопки button */
button {
    background-color: darkseagreen;  /* Цвет фона кнопки */
    font-size: 18px;  /* Размер шрифта кнопки */
    color: #dadada;  /* Цвет текста кнопки */
    border: 0;  /* Убирает границы кнопки */
    border-radius: 15px;  /* Устанавливает радиус скругления углов кнопки */
    margin: 15px;  /* Внешний отступ по всем сторонам */
    padding: 10px;  /* Внутренний отступ по всем сторонам */
}

/* Стили для кнопки при наведении и фокусе */
button:not(.active):hover, button:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;  /* Плавный переход для цвета и тени текста */
    color: #004d40;  /* Изменение цвета текста при наведении и фокусе */
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #00695c;  /* Тень текста */
}

/* Стили для кнопки при отсутствии наведения */
button:not(:hover) {
    transition: 0.6s;  /* Плавный переход */
}

/* Стили для кнопки при активации (нажатии) */
button:active {
    opacity: 0.7;  /* Прозрачность при активации */
}