<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>175</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>59</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>21</td>
    </tr>
    <tr>
      <td>Cisco</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Администрирование серверов Windows</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Проведение внутренних расследований</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Антивирусная защита сети</td>
      <td>13</td>
    </tr>
    <tr>
      <td>Ответственность</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Администрирование сетевого оборудования</td>
      <td>11</td>
    </tr>
    <tr>
      <td>SIEM</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Экспертный аудит информационных систем</td>
      <td>10</td>
    </tr>
    <tr>
      <td>VMware</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>10</td>
    </tr>
    <tr>
      <td>защита информации</td>
      <td>10</td>
    </tr>
  </tbody>
</table>