<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>1008</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>632</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>378</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>361</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>320</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>261</td>
    </tr>
    <tr>
      <td>TCP/IP</td>
      <td>141</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>127</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>113</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>95</td>
    </tr>
    <tr>
      <td>Cisco</td>
      <td>90</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>79</td>
    </tr>
    <tr>
      <td>Управление рисками</td>
      <td>77</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>75</td>
    </tr>
    <tr>
      <td>Windows 7</td>
      <td>73</td>
    </tr>
    <tr>
      <td>Антивирусная защита сети</td>
      <td>69</td>
    </tr>
    <tr>
      <td>Администрирование сетевого оборудования</td>
      <td>66</td>
    </tr>
    <tr>
      <td>Администрирование серверов Windows</td>
      <td>65</td>
    </tr>
    <tr>
      <td>Администрирование</td>
      <td>62</td>
    </tr>
    <tr>
      <td>Spector360)</td>
      <td>54</td>
    </tr>
  </tbody>
</table>