<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>320</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>132</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>84</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>74</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>58</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>45</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Active Directory</td>
      <td>36</td>
    </tr>
    <tr>
      <td>TCP/IP</td>
      <td>34</td>
    </tr>
    <tr>
      <td>SIEM</td>
      <td>32</td>
    </tr>
    <tr>
      <td>Проведение внутренних расследований</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Администрирование сетевого оборудования</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Антивирусная защита сети</td>
      <td>29</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Администрирование серверов Windows</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Экспертный аудит информационных систем</td>
      <td>23</td>
    </tr>
    <tr>
      <td>DLP</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>22</td>
    </tr>
  </tbody>
</table>