<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Infowatch</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Администрирование сетевого оборудования</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Secret Net</td>
      <td>3</td>
    </tr>
    <tr>
      <td>С-Терра</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Континент</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Создание систем защиты информации</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Dr.Web ESS</td>
      <td>3</td>
    </tr>
    <tr>
      <td>MaxPatrol</td>
      <td>3</td>
    </tr>
    <tr>
      <td>vGate</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Kaspersky Security</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Администрирование серверов Windows</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Helpdesk</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Антивирусная защита сети</td>
      <td>2</td>
    </tr>
  </tbody>
</table>