<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>1755</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>610</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>515</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>490</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>450</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>294</td>
    </tr>
    <tr>
      <td>Защита информации</td>
      <td>278</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>277</td>
    </tr>
    <tr>
      <td>SIEM</td>
      <td>237</td>
    </tr>
    <tr>
      <td>Выявление каналов утечки информации</td>
      <td>236</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>176</td>
    </tr>
    <tr>
      <td>Внутренний аудит информационных систем</td>
      <td>173</td>
    </tr>
    <tr>
      <td>Внешний аудит информационных систем</td>
      <td>168</td>
    </tr>
    <tr>
      <td>Антивирусная защита сети</td>
      <td>150</td>
    </tr>
    <tr>
      <td>DLP</td>
      <td>146</td>
    </tr>
    <tr>
      <td>Работа с большим объемом информации</td>
      <td>145</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>138</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>116</td>
    </tr>
    <tr>
      <td>Высшее образование</td>
      <td>113</td>
    </tr>
    <tr>
      <td>Безопасность</td>
      <td>111</td>
    </tr>
  </tbody>
</table>