<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Администрирование сетевого оборудования</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>13</td>
    </tr>
    <tr>
      <td>Cisco</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>11</td>
    </tr>
    <tr>
      <td>Администрирование серверов Windows</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Active Directory</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Настройка сетевых подключений</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Безопасность</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Обеспечение антивирусной защиты</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Администрирование серверов Linux</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Внутренний аудит информационных систем</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Проведение внутренних расследований</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Внешний аудит информационных систем</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Работа удостоверяющего центра</td>
      <td>4</td>
    </tr>
  </tbody>
</table>