<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>2222</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>702</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>648</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>622</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>380</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>354</td>
    </tr>
    <tr>
      <td>Внешний аудит информационных систем</td>
      <td>328</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>265</td>
    </tr>
    <tr>
      <td>SIEM</td>
      <td>254</td>
    </tr>
    <tr>
      <td>Выявление каналов утечки информации</td>
      <td>209</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>192</td>
    </tr>
    <tr>
      <td>Работа с большим объемом информации</td>
      <td>189</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>171</td>
    </tr>
    <tr>
      <td>Грамотная речь</td>
      <td>155</td>
    </tr>
    <tr>
      <td>Администрирование</td>
      <td>149</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>149</td>
    </tr>
    <tr>
      <td>Защита информации</td>
      <td>133</td>
    </tr>
    <tr>
      <td>Деловая переписка</td>
      <td>132</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>128</td>
    </tr>
  </tbody>
</table>