<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Информационная безопасность</td>
      <td>1505</td>
    </tr>
    <tr>
      <td>Информационные технологии</td>
      <td>715</td>
    </tr>
    <tr>
      <td>Технические средства информационной защиты</td>
      <td>474</td>
    </tr>
    <tr>
      <td>Аудит безопасности</td>
      <td>473</td>
    </tr>
    <tr>
      <td>Средства криптографической защиты информации</td>
      <td>374</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>320</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>223</td>
    </tr>
    <tr>
      <td>Внедрение систем информационной безопасности</td>
      <td>206</td>
    </tr>
    <tr>
      <td>Технические системы и средства безопасности</td>
      <td>134</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>113</td>
    </tr>
    <tr>
      <td>TCP/IP</td>
      <td>104</td>
    </tr>
    <tr>
      <td>SIEM</td>
      <td>102</td>
    </tr>
    <tr>
      <td>Управление рисками</td>
      <td>102</td>
    </tr>
    <tr>
      <td>Выявление каналов утечки информации</td>
      <td>98</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>97</td>
    </tr>
    <tr>
      <td>Внешний аудит информационных систем</td>
      <td>89</td>
    </tr>
    <tr>
      <td>Администрирование</td>
      <td>87</td>
    </tr>
    <tr>
      <td>Search Inform</td>
      <td>77</td>
    </tr>
    <tr>
      <td>Spector360)</td>
      <td>77</td>
    </tr>
    <tr>
      <td>DLP (Devicelock</td>
      <td>77</td>
    </tr>
  </tbody>
</table>