<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>JavaScript</td>
      <td>13514</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>9827</td>
    </tr>
    <tr>
      <td>PHP</td>
      <td>9038</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>8451</td>
    </tr>
    <tr>
      <td>Ведение переговоров</td>
      <td>8407</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>8151</td>
    </tr>
    <tr>
      <td>jQuery</td>
      <td>7695</td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>7602</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>7110</td>
    </tr>
    <tr>
      <td>HTML5</td>
      <td>6765</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>6727</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>6580</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>6454</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>6358</td>
    </tr>
    <tr>
      <td>ООП</td>
      <td>6030</td>
    </tr>
    <tr>
      <td>Грамотная речь</td>
      <td>5506</td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td>5360</td>
    </tr>
    <tr>
      <td>Поиск и привлечение клиентов</td>
      <td>5286</td>
    </tr>
    <tr>
      <td>Навыки продаж</td>
      <td>5123</td>
    </tr>
    <tr>
      <td>Активные продажи</td>
      <td>5054</td>
    </tr>
  </tbody>
</table>