<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SQL</td>
      <td>56758</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>45503</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>43440</td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>41344</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>39116</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>37624</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>36587</td>
    </tr>
    <tr>
      <td>Грамотная речь</td>
      <td>33884</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>30744</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>28108</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>28060</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>27749</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>25507</td>
    </tr>
    <tr>
      <td>Активные продажи</td>
      <td>23285</td>
    </tr>
    <tr>
      <td>MS SQL</td>
      <td>23201</td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>22497</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>21949</td>
    </tr>
    <tr>
      <td>Ведение переговоров</td>
      <td>21108</td>
    </tr>
    <tr>
      <td>PHP</td>
      <td>20966</td>
    </tr>
    <tr>
      <td>ООП</td>
      <td>17810</td>
    </tr>
  </tbody>
</table>