<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SQL</td>
      <td>96452</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>96443</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>86374</td>
    </tr>
    <tr>
      <td>Грамотная речь</td>
      <td>77280</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>74314</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>62080</td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>58650</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>57977</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>51194</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>49885</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>42804</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>38044</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>36157</td>
    </tr>
    <tr>
      <td>Ведение переговоров</td>
      <td>35473</td>
    </tr>
    <tr>
      <td>Adobe Photoshop</td>
      <td>33667</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>32965</td>
    </tr>
    <tr>
      <td>Грамотность</td>
      <td>32914</td>
    </tr>
    <tr>
      <td>Деловое общение</td>
      <td>31642</td>
    </tr>
    <tr>
      <td>Активные продажи</td>
      <td>30767</td>
    </tr>
    <tr>
      <td>MS SQL</td>
      <td>30586</td>
    </tr>
  </tbody>
</table>