<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Работа в команде</td>
      <td>92407</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>89829</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>70601</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>67728</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>57909</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>53029</td>
    </tr>
    <tr>
      <td>Грамотная речь</td>
      <td>47898</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>47841</td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>45658</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>45074</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>37264</td>
    </tr>
    <tr>
      <td>Adobe Photoshop</td>
      <td>35146</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>34058</td>
    </tr>
    <tr>
      <td>Техническое обслуживание</td>
      <td>29316</td>
    </tr>
    <tr>
      <td>MS PowerPoint</td>
      <td>27901</td>
    </tr>
    <tr>
      <td>1С программирование</td>
      <td>27314</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>26767</td>
    </tr>
    <tr>
      <td>Аналитическое мышление</td>
      <td>26689</td>
    </tr>
    <tr>
      <td>Грамотность</td>
      <td>25888</td>
    </tr>
    <tr>
      <td>PHP</td>
      <td>25706</td>
    </tr>
  </tbody>
</table>