<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SQL</td>
      <td>60024</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>44262</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>39568</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>36628</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>34396</td>
    </tr>
    <tr>
      <td>Грамотная речь</td>
      <td>31403</td>
    </tr>
    <tr>
      <td>PostgreSQL</td>
      <td>29261</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>27472</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>26259</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>25857</td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>24630</td>
    </tr>
    <tr>
      <td>Adobe Photoshop</td>
      <td>23719</td>
    </tr>
    <tr>
      <td>Аналитическое мышление</td>
      <td>23435</td>
    </tr>
    <tr>
      <td>1С программирование</td>
      <td>21409</td>
    </tr>
    <tr>
      <td>Работа с большим объемом информации</td>
      <td>20614</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>19954</td>
    </tr>
    <tr>
      <td>Деловое общение</td>
      <td>17955</td>
    </tr>
    <tr>
      <td>Техническая поддержка</td>
      <td>17893</td>
    </tr>
    <tr>
      <td>PHP</td>
      <td>17577</td>
    </tr>
    <tr>
      <td>Docker</td>
      <td>17262</td>
    </tr>
  </tbody>
</table>