<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Навык</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>JavaScript</td>
      <td>20193</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>14515</td>
    </tr>
    <tr>
      <td>PHP</td>
      <td>12705</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>12677</td>
    </tr>
    <tr>
      <td>Git</td>
      <td>12587</td>
    </tr>
    <tr>
      <td>MySQL</td>
      <td>11177</td>
    </tr>
    <tr>
      <td>Ведение переговоров</td>
      <td>10196</td>
    </tr>
    <tr>
      <td>SQL</td>
      <td>9943</td>
    </tr>
    <tr>
      <td>jQuery</td>
      <td>9717</td>
    </tr>
    <tr>
      <td>HTML5</td>
      <td>8951</td>
    </tr>
    <tr>
      <td>Управление проектами</td>
      <td>8724</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>8419</td>
    </tr>
    <tr>
      <td>Работа в команде</td>
      <td>8173</td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>7953</td>
    </tr>
    <tr>
      <td>ООП</td>
      <td>7921</td>
    </tr>
    <tr>
      <td>Пользователь ПК</td>
      <td>7210</td>
    </tr>
    <tr>
      <td>Английский язык</td>
      <td>6897</td>
    </tr>
    <tr>
      <td>Активные продажи</td>
      <td>6872</td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td>6583</td>
    </tr>
    <tr>
      <td>B2B Продажи</td>
      <td>6432</td>
    </tr>
  </tbody>
</table>