<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>area_name</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Москва</td>
      <td>911232</td>
    </tr>
    <tr>
      <td>Санкт-Петербург</td>
      <td>335247</td>
    </tr>
    <tr>
      <td>Новосибирск</td>
      <td>80099</td>
    </tr>
    <tr>
      <td>Екатеринбург</td>
      <td>76874</td>
    </tr>
    <tr>
      <td>Минск</td>
      <td>76701</td>
    </tr>
    <tr>
      <td>Казань</td>
      <td>69260</td>
    </tr>
    <tr>
      <td>Нижний Новгород</td>
      <td>68177</td>
    </tr>
    <tr>
      <td>Краснодар</td>
      <td>56976</td>
    </tr>
    <tr>
      <td>Алматы</td>
      <td>56067</td>
    </tr>
    <tr>
      <td>Ростов-на-Дону</td>
      <td>53098</td>
    </tr>
    <tr>
      <td>Воронеж</td>
      <td>46672</td>
    </tr>
    <tr>
      <td>Самара</td>
      <td>44196</td>
    </tr>
    <tr>
      <td>Пермь</td>
      <td>38186</td>
    </tr>
    <tr>
      <td>Уфа</td>
      <td>35752</td>
    </tr>
    <tr>
      <td>Челябинск</td>
      <td>34982</td>
    </tr>
    <tr>
      <td>Красноярск</td>
      <td>33590</td>
    </tr>
    <tr>
      <td>Киев</td>
      <td>29015</td>
    </tr>
    <tr>
      <td>Тула</td>
      <td>26383</td>
    </tr>
    <tr>
      <td>Ярославль</td>
      <td>25942</td>
    </tr>
    <tr>
      <td>Омск</td>
      <td>25450</td>
    </tr>
  </tbody>
</table>