<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>area_name</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Москва</td>
      <td>1928</td>
    </tr>
    <tr>
      <td>Санкт-Петербург</td>
      <td>619</td>
    </tr>
    <tr>
      <td>Казань</td>
      <td>231</td>
    </tr>
    <tr>
      <td>Екатеринбург</td>
      <td>166</td>
    </tr>
    <tr>
      <td>Нижний Новгород</td>
      <td>126</td>
    </tr>
    <tr>
      <td>Самара</td>
      <td>125</td>
    </tr>
    <tr>
      <td>Краснодар</td>
      <td>118</td>
    </tr>
    <tr>
      <td>Новосибирск</td>
      <td>117</td>
    </tr>
    <tr>
      <td>Владивосток</td>
      <td>104</td>
    </tr>
    <tr>
      <td>Пермь</td>
      <td>99</td>
    </tr>
    <tr>
      <td>Уфа</td>
      <td>91</td>
    </tr>
    <tr>
      <td>Воронеж</td>
      <td>88</td>
    </tr>
    <tr>
      <td>Рязань</td>
      <td>85</td>
    </tr>
    <tr>
      <td>Минск</td>
      <td>75</td>
    </tr>
    <tr>
      <td>Иркутск</td>
      <td>74</td>
    </tr>
    <tr>
      <td>Омск</td>
      <td>72</td>
    </tr>
    <tr>
      <td>Красноярск</td>
      <td>70</td>
    </tr>
    <tr>
      <td>Челябинск</td>
      <td>70</td>
    </tr>
    <tr>
      <td>Ростов-на-Дону</td>
      <td>58</td>
    </tr>
    <tr>
      <td>Хабаровск</td>
      <td>57</td>
    </tr>
  </tbody>
</table>