<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>area_name</th>
      <th>average_salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Айет</td>
      <td>1413779</td>
    </tr>
    <tr>
      <td>Шахрисабз</td>
      <td>666955</td>
    </tr>
    <tr>
      <td>Бар</td>
      <td>622852</td>
    </tr>
    <tr>
      <td>Хива</td>
      <td>450558</td>
    </tr>
    <tr>
      <td>Жидачов</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Дубляны</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Золочев (Львовская область)</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Глиняны</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Добромиль</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Жолква</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Моршин</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Винники</td>
      <td>409405</td>
    </tr>
    <tr>
      <td>Виноградное (Калмыкия)</td>
      <td>402733</td>
    </tr>
    <tr>
      <td>Германия</td>
      <td>289863</td>
    </tr>
    <tr>
      <td>Красноград</td>
      <td>282080</td>
    </tr>
    <tr>
      <td>Старобельск</td>
      <td>279840</td>
    </tr>
    <tr>
      <td>Япония</td>
      <td>262980</td>
    </tr>
    <tr>
      <td>Алат (Узбекистан)</td>
      <td>250701</td>
    </tr>
    <tr>
      <td>Городок (Львовская область)</td>
      <td>243102</td>
    </tr>
    <tr>
      <td>Швеция</td>
      <td>241231</td>
    </tr>
  </tbody>
</table>