<nav class="main-nav">
        <ul class="site-navigation">
          <li class="site-navigation-item">
            <a href="/">Главная</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'demand'  %}">Востребованность</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'geography'  %}">География</a>
          </li>
          <li class="site-navigation-item">
            <a href="#">Навыки</a>
          </li>
          <li class="site-navigation-item">
            <a href="{% url 'last_vacancies' %}">Последние вакансии</a>
          </li>
        </ul>
      </nav>