{% load static %}
<header class="page-header">

      <div class="services">
        <div class="services-content">
          <p>Специалист по информационной безопасности</p>
          <section class="find-buttons">
          <p class="caption">Тема</p>
          <ul class="theme-switcher">
            <li>
              <button class="theme-button-dark" type="button"></button>
            </li>
            <li>
              <button class="theme-button-light active" type="button"></button>
            </li>
          </ul>
          <p class="caption">Шрифт</p>
          <ul class="fonts">
            <li>
              <button class="font-button-sans-serif active" type="button">А</button>
            </li>
            <li>
              <button class="font-button-serif" type="button">А</button>
            </li>
          </ul>

        </section>
          <p class="logo">
            <img src="{% static 'img/logo.png' %}" width="124" height="68" alt="Логотип яхт-клуба Yacht Club">
          </p>
      </div>
        <div class="default-auth">

            {%if request.user.is_authenticated %}
            <a class="signin" href="{% url 'user_profile' %}">
                <img src="{% static 'img/user-icon.png' %}" width="40" height="40" alt="Кабинет пользователя">
            </a>
            <div class="default-auth-item">
              <span>Привет, {{ request.user.username | title }}!</span>
              <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <a class="user-exit" href="{% url 'logout' %}" type="submit">Выход</a>
              </form>
            </div>
            {%else%}
            <div class="default-auth-item">
              <a class="user-exit" href="{% url 'login' %}">Вход</a>
              <a class="user-exit" href="{% url 'registration_view' %}">Регистрация</a>
            </div>
            {%endif%}

        </div>
      </div>
      {% include 'includes/nav.html' %}
    </header>